* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 13px;
}
/* HEADER */
header.header {
  padding: 15px;
  line-height: 36px;
}

.header__left {
  float: left;
}
.header__right {
  float: right;
}
header ul li {
  display: inline-block;
}
header ul li a {
  color: #919090;
  padding: 0.5rem;

  font-size: 20px;
}
.header__right--appicon {
  vertical-align: middle;
  opacity: 0.5;
}
.header__right--button {
  background-color: #4284f4;
  color: white;
  border: none;
  width: 96px;
  height: 36px;
  border-radius: 4px;
  font-weight: 600;
}
.header__right--button:hover {
  box-shadow: rgb(211, 211, 211) 3px 3px 5px;
  cursor: pointer;
}
header ul li a:hover {
  text-decoration: underline;
}
.header__right--appicon:hover {
  opacity: 1;
}
